.bitmap {
    margin: 0;
    padding: 0;

    .container {
        display: flex;
        background-color: #2C343E;
        border-radius: 10px;
        margin-bottom: 168px;
        position: relative;
    }

    &__headline {
        color: #FEFCF7;
        font-family: "Fraunces";
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
        margin-top: 100px;
        margin-left: 85px;
        margin-bottom: 32px;
    }

    &__text {
        width: 540px;
        color: #FEFCF7;
        font-family: "Barlow";
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-left: 85px;
        margin-bottom: 176px;
    }

    &__img {
        position: absolute;
        border-radius: 10px;
        margin-left: 775px;
        margin-top: -95px;
    }
}