.footer {
    background: #2C343E;
    padding: 47px 0;

    .container {
        display: flex;
        align-items: center;
    }

    &__info {
        margin-left: 102px;
    }

    &__href {
        color: #83888F;
        font-family: "Barlow";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px;
        text-transform: uppercase;


        & + & {
            padding-left: 33px;
        }

        &:hover {
            color: black;
            cursor: pointer;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        margin-left: 369px;
    }

    &__item + &__item {
        margin-left: 24px;
    }

}
path:hover {
    fill: darkcyan;
}